* {
  margin: 10;
  padding: 10;
}

.banner {
  width: 100%;
}

.header-nav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Home {
  color: #fff;
  margin: 0 15px;
  list-style: none;
  display: inline-block;
  align-items: center;
}
.about {
  color: #fff;
  margin: 0 15px;
  list-style: none;
  display: inline-block;
  align-items: center;
}
.menu {
  color: #fff;
  margin: 0 15px;
  list-style: none;
  display: inline-block;
  align-items: center;
}
.service {
  color: #fff;
  margin: 0 15px;
  list-style: none;
  display: inline-block;
  align-items: center;
}

.fix {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: 0;
}
.adventure {
  position: absolute;
  align-items: center;
  top: 41%;
  left: 39%;
}
.waiting {
  position: absolute;
  align-items: center;
  top: 48%;
  left: 41%;
}

.button {
  padding: 15px 25px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s ease;
  font-size: large;
}
.button:hover {
  background-color: #fff;
  color: #000;
}
