* {
  margin: 10;
  padding: 10;
}

.banner {
  width: 100%;
}

.header-nav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Home {
  color: #fff;
  margin: 0 15px;
  list-style: none;
  display: inline-block;
  align-items: center;
}
.about {
  color: #fff;
  margin: 0 15px;
  list-style: none;
  display: inline-block;
  align-items: center;
}
.menu {
  color: #fff;
  margin: 0 15px;
  list-style: none;
  display: inline-block;
  align-items: center;
}
.service {
  color: #fff;
  margin: 0 15px;
  list-style: none;
  display: inline-block;
  align-items: center;
}

.home {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  align-items: center;
}
